<!DOCTYPE html>
<html lang="en".
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Comaptible" content="ie=edge">
    <title>PolyWeb</title>
</head>
<style>
    body{
        background-image: url("pexels-anete-lusina-5722992.jpg");
        background-size: 100%;
        }
</style>
<body>
    <form action="/" method="post">
        <div>
            <label >Name&emsp;&emsp;&emsp;</label>
            <input type="text" name="Name" placeholder="Name" required>
        </div>
        <div>
            <label>Enrollment No.</label>
            <input type="text" name="enroll" placeholder="Eycno." required>
        </div>
        <div>
            <label for="email">Email&emsp;&emsp;&emsp;</label>
            <input tpye="email" name="eamil" placeholder="Ben10 Email"  required>
        </div>
        <div>
            <label>Age&emsp;&emsp;&emsp;&emsp;</label>
            <input type="number" min="16" max="26" name="age" required>
        </div> 
        <div>
            <label>D.O.B&emsp;&emsp;&emsp;</label>
            <input type="date" name="DOB" required>
        </div>
        <div>
            <label>Year&emsp;&emsp;&emsp;</label>
            <input type="number" name="year" max="5" min="1" required>
        </div>
        <div>
            <p style="font-size: x-large;">Gender
            </p>
            <label>&MediumSpace;&emsp;</label>
            <select name="gender" required >
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>
        </div>     
        <div>
            <!--p style="font-size: xx-large;">What are you looking for?</p>
            <!--label>&MediumSpace;</label>
            <select name="preference" required >
                <option>Partner</option>
                <option>One Time Date</option>
                <option>A Friend</option-->
        </div>
        <div>
            <div>
            <p style="font-size: x-large; font-display: display;">Your Interests:</p
                <label>Reading</label>
                <input type="checkbox" name="nature" >
            </div>
            <div>
                
                <label>Music</label>
                <input type="checkbox" name="nature" >
            </div>
            <div>
                
                <label>Football</label>
                <input type="checkbox" name="nature" >
            </div>
            <div>
                
                <label>Writing</label>
                <input type="checkbox" name="nature" >
            </div>
            <div>
                
                <label>Photography</label>
                <input type="checkbox" name="nature" >
            </div> 
            <div>
                
                <label>Cooking</label>
                <input type="checkbox" name="nature" >
            </div> 
            <div>
                
                <label>Arts</label>
                <input type="checkbox" name="nature" >
            </div> 
            <div>
                
                <label>Travelling</label>
                <input type="checkbox" name="nature" >
            </div> 
            <div>
                
                <label>Gardening</label>
                <input type="checkbox" name="nature" >
            </div> 
            <div>
                
                <label>Gaming</label>
                <input type="checkbox" name="nature" >
            </div> 
            <div>
                
                <label>Blogging</label>
                <input type="checkbox" name="nature" >
            </div> 
            <div>
                
                <label>Web-series/Movies</label>
                <input type="checkbox" name="nature" >
            </div> <div>
                
                <label>Cricket</label>
                <input type="checkbox" name="nature" >
            </div> 
            <div>
                
                <label>Trekking</label>
                <input type="checkbox" name="nature" >
            </div> 
            <div>
            
                <label>Hacking/Coding</label>
                <input type="checkbox" name="nature" >
            </div> 
            <div>
            
                <label>Badminton</label>
                <input type="checkbox" name="nature" >
            </div> 
            <div>
                
                <label>Stand-Ups</label>
                <input type="checkbox" name="nature" >
            </div> 
            <div>
                
                <label>Streaming</label>
                <input type="checkbox" name="nature" >
            </div> 
            <div>
                
                <label>Anime</label>
                <input type="checkbox" name="nature" >
            </div> 
        </div>    

            <!--div>
                <label>Female&MediumSpace;</label>
                <input type="radio" name="gender" required
            </div>
            <div>
                <label>Other&emsp;&MediumSpace;</label>
                <input type="radio" name="gender" required
            </div-->
        </div>
        
            <p>Enter your lucky number</p>
            <label>&emsp;&emsp;</label>
            <input name="password" type="password" required placeholder="Enter your lucky number">
        </div> 
        <div>
            <button type="submit">Submit</button>
        </div>  
    </form>
</body>
<!--body>
    <div>
        <p>PLease fill the form....</p>  
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdsE0Rm6-Gsm4qDpcsiWuZRzmo5o8_8uQGroYSPVvKjdIKGtg/viewform?usp=sf_link">
        <button type="button" 
        style="background-color:coral;
        color:aqua;
        border: radius 10px">Fill Form</button>
        </a>
    </div>
</body>
</head>